<table>
    <caption>Rooster week <strong>{WEEK}</strong></caption>
    <colgroup>
        <col span="2" />
        <col width="20" span="{COLUMNS}" />
    </colgroup>
    <thead>
        <tr>
            <th colspan="2" class="week"></th>
            <th colspan="{GROUPS}">Ma<br/><small>({MONDAY})</small></th>
            <th colspan="{GROUPS}">Di<br/><small>({TUESDAY})</small></th>
            <th colspan="{GROUPS}">Wo<br/><small>({WEDNESDAY})</small></th>
            <th colspan="{GROUPS}">Do<br/><small>({THURSDAY})</small></th>
            <th colspan="{GROUPS}">Vr<br/><small>({FRIDAY})</small></th>
        </tr>
        <tr>
            <th colspan="2" class="corner">&nbsp;</th>
{BAR}        </tr>
    </thead>
    <tbody>
{BODY}    </tbody>
</table>
